*.xpr
*rp-feedback*/
!rp-feedback.srcs/
rp-feedback.srcs/sources_1/bd/
rp-feedback.srcs/sources_1/ip/*/*
!rp-feedback.srcs/sources_1/ip/**/*.xci

*power-measurement*/
!power-measurement.srcs/
power-measurement.srcs/sources_1/bd/
power-measurement.srcs/sources_1/ip/*/*
!power-measurement.srcs/sources_1/ip/**/*.xci

!vhdl-sources/